html {
    -webkit-text-size-adjust: none;
}

@media only screen
and (orientation: portrait) {
    body {
        background: var(--bg-color);
        color: var(--text-color);
        align: center;
        width: var(--body-width-portrait);
        max-width: 700px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    article {
        width: var(--body-width-portrait);
        max-width: 700px;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
    }

}

@media only screen
and (orientation: landscape) {
    body {
        background: var(--bg-color);
        color: var(--text-color);
        align: center;
        width: var(--body-width-landscape);
        max-width: 700px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    article {
        width: var(--body-width-landscape);
        max-width: 700px;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
    }

}

h1 {
   font-size: calc(var(--font-size) * 1.5rem);
   line-height: var(--line-height);
   clear: both;
}

h2 {
    font-size: calc(var(--font-size) * 1.1rem);
    line-height: var(--line-height);
}

h3 {
    line-height: var(--line-height);
}

h4 {
    font-size: calc(var(--font-size) * 0.8rem);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
    color:var(--link-color);
}

/* make sure sub and superscript don't mess up line height */
sub, sup { 
    font-size: calc(var(--font-size) * 0.75rem);
    line-height: 0; 
    position: relative; 
    vertical-align: baseline; 
}

sup { 
    top: -0.5em; 
}

sub {
    bottom: -0.25em; 
}

pre {
    overflow: auto;
    padding: 5px;
    background-color: #ebebeb;
    font-size: calc(var(--font-size) * 0.75rem);
    line-height: calc(var(--line-height) * 0.85);
}

div.articleTitle {
    background: var(--bg-color);
    font-size: calc(var(--font-size) * 1.75rem);
    color: var(--text-color);
    margin-top: 10px;
}

a.articleTitleLink {
    text-decoration: none;
    color: var(--text-color);
}

div.feedTitle {
    font-size: calc(var(--font-size) * 0.9rem);
    color: DimGray;
    margin-bottom: 10px;
}

div.articleDate {
    font-size:  calc(var(--font-size) * 0.8rem);
    color: DimGray;
    text-align: right;
    margin-bottom: 10px;
}

div.titleHeader {
    border-bottom-style: groove;
    border-bottom-color: var(--footer-link);
    border-bottom-width: 2px;
}

div.articleAuthor {
    font-family: -apple-system;
    font-size: calc(var(--font-size) * 0.9rem);
    color: DimGray;
    margin-bottom: 10px;
}

section {
    font-family: -apple-system-short-body;
    font-size: calc(var(--font-size) * 1.0rem);
    margin-top: 30px;
    line-height: var(--line-height);
    clear: both;

}

div.footer {
    border-top-style: groove;
    border-top-color: var(--footer-link);
    border-top-width: 1px;
    font-family: -apple-system;
    font-size: calc(var(--font-size) * 0.75rem);
    text-align: left;
    text-decoration: none;
    margin-top: 0;
    width: 100%;
    line-height: calc(var(--line-height) * 0.85);
}

div.container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

div.articleVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

img {
    max-width: 100%;
    height: auto;
}
